/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --text-decor-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --shadow-color: #ff8dcb;
  --btn-color: #353430;
  --section-heading-color: #353430;
}

.page.theme_light .light {
  display: none;
}

@media (width >= 960px) {
  .page.theme_light {
    --shadow-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --text-decor-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --shadow-color: #ff8dcb;
    --btn-color: #353430;
    --section-heading-color: #353430;
  }

  .light {
    display: none;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  @media (width >= 960px) {
    :root {
      --shadow-color: #ff0070;
    }
  }
}
